body {
    /*TODO: сборка картинок вебпаком*/
    /*background: url('https://www.2do2go.ru/uploads/4131d0b65c4b5adeb3866a647f7616f2.jpg') center;*/
    /*background: url('http://psysami.ru/i/bg_parallax_second.jpg');*/
    /*background-size: cover;*/
}

/*header, main, footer {*/
    /*padding-left: 0;*/
/*}*/