html {
    position: relative;
    min-height:100%;
}

body {
	background: url("/static/img/back.jpg") no-repeat center right fixed;
	background-size: cover;
}

canvas {
    height: 100px;
    width: 100px;
}

h2 {
	color: white;
	text-shadow: 2px 2px 2px #000000;
}

h4 {
	color: white;
	text-shadow: 2px 2px 2px #000000;
}

.card.sticky-action{
	border-radius: 5% !important;
}
.col.s12.m6.card_position{
	width: 30% !important;
}	