header, main, footer {
    padding-left: 300px;
}

.userView {
    text-align: center
}

.side-nav__img_size {
    height: 300px;
}

.side-nav__li_margin {
    margin-top: 40px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

.userView a img {
    display: inline !important;
}

.side_user {
    background: #2e3853;
}

.side_user_info {
    position: absolute;
    top: -5px;
    right: 15%;
}

.side-nav li {
    height: 80px;
}

.side-nav li:nth-child(1) {
    /*background: rgba(255, 50, 50, 0.55);*/
}

.side-nav li:nth-child(2) {
    /*background: rgba(255, 180, 40, 0.6);*/
}

.side-nav li:nth-child(3) {
    /*background: rgba(70, 77, 255, 0.6);*/
}

.side-nav li:nth-child(4) {
    /*background: rgba(113, 212, 38, 0.44);*/
}

.side-nav li:nth-child(5) {
    /*background: rgba(202, 169, 255, 0.52);*/
}

.side-nav li:nth-child(6) {
    /*background: rgba(128, 43, 119, 0.51);*/
}

.side-nav li:nth-child(7) {
    /*background: rgba(19, 62, 128, 0.38);*/
}

.side-nav .circle {
    height: 60px;
    margin: 10px 0 5px 10px;
}

.side-nav li a {
    text-align: center;
    font-size: 15px;
    color: white;
    padding-top: 15px;
    height: 100%;
    width: 100%;
}

#slide-out {
	background: rgb(100, 150, 230);
    /*background: #FFCACA !important;*/
}

.quit {
    position: absolute;
    width: 100%;
    bottom: 50px;
    /*background: #FFCACA !important;*/
}