.card_position {
    position: relative;
}

.card__alert__button {
    display: none;
    position: absolute;
    left: -5px;
    top: -5px;
    z-index: 5;
    cursor: default;
}

.h4_position {
    position: relative;
}

.h4__arrow_right {
    position: absolute;
    top: -185%;
    left: 25%;
}

h4 img {
    width: 60%;
}

.card.small {
    padding-left: 10px;
    height: 40px !important;
}

.card__progressbar {
    width: 94% !important;
    position: absolute;
    top: -15px;
}